langchain
langchain-together
langchain-core
langchain-community
faiss-cpu
tiktoken
unstructured==0.5.6
#protobuf
pillow_heif
unstructured_inference
pikepdf
pypdf
sentence-transformers
#opencv-python
#skia-python
#tesseract
#tesseract-ocr
#poppler-utils
#python-libmagic
