langchain
langchain-together
langchain-core
langchain-community
faiss-cpu
tiktoken
unstructured[all-docs]
#protobuf
pillow_heif
unstructured_inference
pikepdf
pypdf
sentence-transformers
#opencv-python
#skia-python

